@font-face {
    font-family: 'Montserrat';
    src: url('montserrat.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #00CDE1;
}

/* HEADER */

.header-nav {
    width: 100%;
    background-color: var(--primary-color);
    height: 90px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    z-index: 100;
}

.left-side, .right-side {
    display: flex;
    align-items: center;
}

.logo-header {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.logo-header img {
    width: 60px;
    height: 60px;
}

.logo-text {
    font-size: 24px;
    font-weight: 550;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.nav-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    font-weight: 550;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: background-color 0.2s, border-bottom-color 0.2s;
}

.nav-list a:hover {
    background-color: #23daeb;
    border-bottom-color: white;
}

.nav-list a:active {
    background-color: #52e6f3;
}

.nav-list li:last-of-type a {
    background-color: white;
    color: #00CDE1;
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    height: auto;
    width: 150%;
    border: 3px solid transparent;
}

.nav-list li:last-of-type a:hover {
    border-color: white;
    background-color: var(--primary-color);;
    color: white;
}

.search-icon {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}

.search-icon:hover {
    background-color: #23daeb;
    border-bottom-color: white;
    cursor: pointer;
}

.search-icon:active {
    background-color: #52e6f3;
}

.search-icon img {
    width: 30px;
}

/* MAIN */

.landing {
    position: relative; /* Needed for absolute positioning inside */
    width: 100%;
    height: auto;
}

.image-landingpage {
    width: 100%;
    height: auto;
    display: block;
}

.landing-content {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 2;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -40%);
    width: 1000px;
    height: 1000px;
    background-color: blue;
    z-index: 1;
    background: radial-gradient(ellipse 50.00% 50.00% at 50.00% 50.00%, #00CDE1 0%, rgba(0, 205, 225, 0.94) 32%, rgba(0, 205, 225, 0.73) 71%, rgba(0, 205, 225, 0.70) 76%, rgba(0, 205, 225, 0) 100%);
}

.orange-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -40%);
    width: 1000px;
    height: 1000px;
    z-index: 1;
    background: radial-gradient(ellipse 50.00% 50.00% at 50.00% 50.00%, #E18702 0%, rgba(225, 135, 2, 0) 100%);
}


.logo-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.logo-landing img:first-of-type {
    width: 150px;
    z-index: 2;
}

.logo-landing .logo-text {
    font-size: 55px;
    z-index: 2;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.473);
}

.landing-content h1 {
    color: white;
    font-size: 80px;
    white-space: nowrap;
    text-align: center;
    font-weight: 650;
    margin-bottom: 50px;
    z-index: 2;
    text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.384);
}

.landing-content h2 {
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
    z-index: 2;
    text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.548);
}

.buy-tickets {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid transparent;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.199);
    transition: background-color 0.2s ease;
}

.buy-tickets:hover {
    border-color: white;
    background-color: var(--primary-color);;
    color: white;
}