* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

:root {
	--primary-color: #00cde1;
	--secondary-color: #e18702;
	--light-primary-color: #ddfcff;
	--font-color: #424242;
}

/* Blur background when menu is open */
.navbar.navbar-blur {
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.85); /* semi-transparent white */
	transition: background-color 0.3s ease;
  }
  
  /* Smooth animation for collapsing */
  .collapse.navbar-collapse {
	transition: all 0.4s ease;
  }

h4{
	font-size: 1.5rem;
	font-weight: bolder;
	color: var(--font-color);
}

.footer {
	padding: 40px 40px;
	background-color: #ddfcff;
	display: flex;
	justify-content: center;
}

.footer-inside {
	display: flex;
	flex-wrap: wrap;
	justify-items: space-around;
	column-gap: 100px;
	row-gap: 50px;
	max-width: 1250px;
}

.footer-left {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-logo {
	filter: brightness(20%);
}

.social-icon {
	fill: #424242;
	width: 30px;
	height: 30px;
}

li {
	list-style-type: none;
}

.submit-btn {
	background-color: var(--secondary-color);
	border: none;
	padding: 10px;
	width: 50%;
	color: var(--light-primary-color);
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.submit-btn:hover {
	background-color: var(--primary-color);
	color: white;
}

.inputs {
	width: 100%;
	height: 70px;
	padding: 20px;
	border-radius: 10px;
	border: none;
}

.email-in {
	height: 10px;
}

.footer-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 10px;
}

.quick-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.accounts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--font-color);
}

.bottom-bar > p {
	color: white;
	font-size: 14px;
}
