@font-face {
	font-family: "Montserrat";
	src: url("montserrat.ttf") format("truetype");
}

:root {
	--primary-color: #00cde1;
	--secondary-color: #e18702;
	--light-primary-color: #ddfcff;
	--font-color: #424242;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
	color: var(--font-color);
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
}

.navigation {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--primary-color);
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.logo-header img {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.navigation h1 {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    white-space: nowrap;
}

.nav-links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
	justify-content: center;
	align-items: center;
    gap: 10px;
    font-size: 1.5rem;
}

.nav-menu a, .mobnav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a{
	font-size: 1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    font-weight: 550;
    padding: 20px;
    border-bottom: 4px solid transparent;
    transition: background-color 0.2s, border-bottom-color 0.2s;
}

.nav-menu:hover {
    background-color: #23daeb;
    border-bottom-color: white;
}

.nav-menu:active {
    background-color: #52e6f3;
}

.login-header {
	font-size: 1.3rem;
    background-color: white;
    color: #00cde1;
    border-radius: 10px;
    padding: 5px 15px;
    margin-top: 2px;
    border: 3px solid transparent;
	height: 45px;
	text-align: center;
}

.login-header:hover {
    border-color: white;
    background-color: var(--primary-color);
    color: white;
}

.search-icon {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.search-icon img {
    width: 30px;
}

/* Mobile Navigation */
.mobile-nav.upper {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 90px;
    padding: 0 2rem;
}

.mobile-nav.upper h1 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
}

.burger-icon {
    min-width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-icon .row {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 50px;
}

.mobile-nav.lower {
    display: none;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 0 2rem 1rem 2rem;
}

.mobile-nav.lower ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobile-nav li {
    display: flex;
    flex-direction: column;
}

.mobile-nav.lower li {
    padding: 10px;
}

.mobnav-menu {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.2s;
    border-radius: 5px;
}

.mobnav-menu:hover {
    background-color: #23daeb;
}

.show-menu {
    display: block !important;
}

/* Responsive Navigation Bar */
@media (max-width: 1000px) {
    .navigation {
        display: none;
    }

    .mobile-nav.upper {
        display: flex;
    }

    .mobile-nav.lower {
        display: none;
    }

    .mobile-nav.lower.show {
        display: flex;
    }
}

/* LANDING */

.landing {
	position: relative; /* Needed for absolute positioning inside */
	width: 100%;
	height: auto;
	overflow: hidden; /* The Circles will not go beyond the picture */
}

.image-landingpage {
	width: 100%;
	height: auto;
	display: block;
}

.landing-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-53%, -60%);
	z-index: 2;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.blue-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%, -40%);
	width: clamp(300px, 55vw, 1000px);
	height: clamp(300px, 40vw, 1000px);
	z-index: 1;
	background: radial-gradient(
		ellipse 50% 50% at 50% 50%,
		#00cde1 0%,
		rgba(0, 205, 225, 0.94) 32%,
		rgba(0, 205, 225, 0.73) 71%,
		rgba(0, 205, 225, 0.7) 76%,
		rgba(0, 205, 225, 0) 100%
	);
}

.orange-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-20%, -40%);
	width: clamp(300px, 55vw, 1000px);
	height: clamp(300px, 50vw, 1000px);
	z-index: 1;
	background: radial-gradient(
		ellipse 50% 50% at 50% 50%,
		#e18702 0%,
		rgba(225, 135, 2, 0) 100%
	);
}


.logo-landing {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.logo-landing img:first-of-type {
	width: 10vw;
	z-index: 2;
	filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.4));
}

.logo-landing .logo-text {
	font-size: clamp(20px, 3vw, 3vw);;
	z-index: 2;
	text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
	margin: 0;
	font-weight: 550;
}

.landing-content h1 {
	color: white;
	font-size: clamp(35px, 5vw, 5vw);
	white-space: nowrap;
	text-align: center;
	font-weight: 650;
	margin-bottom: 3vw;
	z-index: 2;
	text-shadow: 0px 6px 7px rgba(0, 0, 0, 0.384);
}

.landing-content h2 {
	color: white;
	font-weight: 400;
	margin-bottom: 1vw;
	z-index: 2;
	text-shadow: 0px 7px 6px rgba(0, 0, 0, 0.548);
	font-size: clamp(25px, 1.5vw, 1.5vw);;
}

.buy-tickets {
	font-size: clamp(25px, 1.5vw, 1.5vw);;
	font-weight: 600;
	color: var(--primary-color);
	padding: 1vw;
	border-radius: 10px;
	border: 3px solid transparent;
	cursor: pointer;
	z-index: 2;
	box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.199);
	transition: background-color 0.2s ease;
}

.buy-tickets:hover {
	border-color: white;
	background-color: var(--primary-color);
	color: white;
}

@media (max-width: 1100px){
	.image-landingpage {
		height: 50vw;
	}
}

/* ABOUT US */

.about-content {
	margin: 120px 120px 120px 80px;
}

.about-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 30px;
}

.about-section h2 {
	font-size: 2.25rem;
}

.about-header .line-design {
	background-color: var(--secondary-color);
	margin-top: 10px;
	height: 10px;
	width: 200px;
	border-radius: 50px;
}

.image-box {
	background-color: #ccc;
	border-radius: 5px;
	min-height: 120px;
}

.about-description {
	display: flex;
}

.large-box {
	height: 300px;
	width: 600px;
}

.small-box-1 {
	height: 200px;
	width: 1450px;
}
.small-box-2 {
	height: 200px;
	width: 1500px;
}

.about-description-one {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.about-description-one p {
	text-align: justify;
	margin: 20px;
	text-indent: 50px;
}

.about-description-right {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
}

.about-description-two,
.about-description-three {
	display: flex;
	max-width: 600px;
	margin-bottom: 20px;
}

.about-description-two p,
.about-description-three p {
	text-align: justify;
	margin: 20px;
	text-indent: 50px;
}

/* PARTNER COMPANIES */

.partner-companies-content {
	background-color: var(--light-primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 300px;
	padding: 50px;
}

.partner-companies-title {
	font-size: 2.25rem;
}

.image-partner-companies {
	height: 60px;
	margin: 20px 10px;
}

.image-partner-companies:first-child {
	width: 200px;
	border-radius: 10px;
}

.partner-companies-description {
	max-width: 670px;
}

/* FEATURES */

.features-content {
	margin: 120px 120px 120px 80px;
}

.features-header {
	display: flex;
	align-items: center;
}

.first-feature,
.second-feature {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 30px;
}

.line-design {
	height: 110px;
	width: 10px;
	border-radius: 50px;
}

.first-feature-info .line-design {
	background-color: var(--secondary-color);
	margin-right: 30px;
}

.second-feature-info .line-design {
	background-color: var(--primary-color);
	margin-left: 30px;
}

.first-feature-info .features-header h2,
.second-feature-info .features-header h2 {
	font-size: 2.25rem;
	max-width: 450px;
}

.second-feature-info .features-header h2 {
	text-align: right;
}

.first-feature-info p,
.second-feature-info p {
	font-size: 1.25rem;
	max-width: 450px;
	margin: 20px 0 20px 40px;
}

.second-feature-info p {
	text-align: right;
}

.features-images {
	width: 600px;
	height: auto;
}

/* FOOTER */
h3 {
	font-size: 1.5rem;
}

.footer {
	padding: 40px 40px;
	background-color: #ddfcff;
	display: flex;
	justify-content: center;
}

.footer-inside {
	display: flex;
	flex-wrap: wrap;
	justify-items: space-around;
	column-gap: 100px;
	row-gap: 50px;
	max-width: 1250px;
}

.footer-left {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-logo {
	filter: brightness(20%);
}

.social-icon {
	fill: #424242;
	width: 30px;
	height: 30px;
}

li {
	list-style-type: none;
}

.submit-btn {
	background-color: var(--secondary-color);
	border: none;
	padding: 10px;
	width: 50%;
	color: var(--light-primary-color);
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.2s ease;
}

.submit-btn:hover {
	background-color: var(--primary-color);
	color: white;
}

.inputs {
	width: 100%;
	height: 70px;
	padding: 20px;
	border-radius: 10px;
	border: none;
}

.email-in {
	height: 10px;
}

.footer-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	gap: 10px;
}

.quick-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.accounts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.link-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	background-color: var(--font-color);
}

.bottom-bar > p {
	color: white;
	font-size: 14px;
}
